@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{

    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}    
    

*{
    
    margin: 0;
    padding: 0;
    border:0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
    }

header{
    padding : 30px;
    border-bottom : 1px solid #333;
    background: #7159c1;
    display: flex;
  
}
header a {
float: left;
    line-height: 30px;
    margin: 30px;
    color: white;
    text-decoration: none;
}
.destak{
    float: right;
}
.links {
    text-align: right;
    width: 100%;

}

#links-footer{
    text-align: center;
    margin-bottom: 26px;

}

.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}
.links a:hover{

    color: var(--color-green);
    transition: color 200ms;
}

#about{
    text-align: center;
    padding: 30px;
}

#about h1{

        font-size: 42px;
        line-height: 52px;
        font-weight: bold;
       
        margin-bottom: 28px;
    }
    #about h2{
        margin-bottom: 280px;
    }

    #about p{
        max-width: 500px;
        margin: 32px auto;
        font-size: 24px;
        line-height: 34px;
    }
#about img{
    margin-top: 50px;
    border-radius: 50%;
    border: 5px solid  var(--color-green);
    margin-bottom: 30px;
    height: 285px;
    background: #7159c1;

}


.links a:hover{

    color: var(--color-green);
    transition: color 200ms;
}


/* about list */

ul{
    font-size: 24px;
    list-style-type: none;
    text-align: center;
    margin-bottom: 60px;
    line-height: 30px;
}

#links-footer a{
    bottom: 50px;
    
}


footer{
    text-align: center;
    padding: 24px;
    background-color: var(--color-rocket);
    color: wheat;

}

/* style grid */
.cards{

    max-width: 68%;
    margin-left: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; padding: 30.1px;
    margin-top: 50px;
    gap: 80px;
   font-size: 25px;
   line-height: 36px;
   text-align: center;
}

.card img{

    width: 300px;
    height: 340px;
    border-radius: 15px;
    /* box-shadow: 0 0 5px; */
    margin-bottom: 20px;
    border: solid var(--color-rocket);
    padding: 10px;
    cursor: pointer;

}



.card p{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
    color: #777777;
    /* width: 120px; */
   
    margin-bottom: 30px;
}

/* modal */

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    opacity: 0;
    visibility: hidden;
}

.modal{

    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;  
    position: relative; 
}

.modal .close-modal{
    color:black;
    position: absolute;
    right:8px;
    top:8px;
    cursor: pointer;
}


/* modal active */

.modal-overlay.active{

    opacity: 1;
    visibility:visible;

}

iframe{

    width: 100%;
    height: 90%;
    position: absolute;
    top:5%;
}