@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{

    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}    
    

*{
    
    margin: 0;
    padding: 0;
    border:0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
    }

header{
    padding : 30px;
    border-bottom : 1px solid #333;
    background: #7159c1;
  
}
header a {
    line-height: 30px;
    margin: 30px;
    color: white;
    text-decoration: none;
}

.links {
    text-align: right;
    width: 100%;

}

#links-footer{
    text-align: center;
    margin-bottom: 26px;

}

.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}
.links a:hover{

    color: var(--color-green);
    transition: color 200ms;
}

#about{
    text-align: center;
    padding: 30px;
}

#about h1{

        font-size: 42px;
        line-height: 52px;
        font-weight: bold;

    }

    #about p{
        max-width: 500px;
        margin: 32px auto;
        font-size: 24px;
        line-height: 34px;
    }
#about img{

    border-radius: 50%;
    border: 5px solid  var(--color-green);
    margin-bottom: 30px;
    height: 285px;
    background: #7159c1;

}


.links a:hover{

    color: var(--color-green);
    transition: color 200ms;
}


/* about list */

ul{
    font-size: 24px;
    list-style-type: none;
    text-align: center;
    margin-bottom: 60px;
    line-height: 30px;
}

#links-footer a{
    bottom: 50px;
    ;
}


footer{
    text-align: center;
    padding: 24px;
    background-color: var(--color-rocket);
    color: wheat;

}

/* ========cards===== */


.cards{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    
    }
    
    .card {
        background-color: rgb(64, 35, 71);
        height: 500px;
        width: 300px;
        margin: auto;
        padding:  36px 36px 36px  ;
    
    }
    .card__image-container img{
    
        width: 100%;
        margin-top: 50px;
      
      
    }
    
    .card__content, .card__info{
    
        padding:24px;
    
    }
    
    .card__info{
    
        display: grid;
        grid-template-columns: 1fr 1fr ;
    
    }
    
    .card__price{
        background-color: var(--color-rocket);
        filter: brightness(90%);
        padding: 5px 20px;
        border-radius: 20%;
        text-align: center;
    
    }
    

    #wrapper{

        text-align: center;
        padding: 32px;
    }

    #wrapper img{

        border-radius: 50%;
        border: 5px solid  var(--color-green);
        margin-bottom: 32px;
        height: 300px;

    }

    #wrapper h1{

        font-size: 42px;
        line-height: 52px;
        font-weight: bold;

    }

    #wrapper h2 {

         font-size: 24px;
         line-height: 34px ;
         font-weight: normal;
         margin-top: 8px;
         opacity: 0.8;
    }